@charset "UTF-8";

@import "fonts";
@import "cores";

body {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    display: flex;
    margin: 0;

    .container {
        width: 60%;
        margin: 20px auto;
        padding: 20px;
        background-color: $cor-fundo;
        font-family: $fonte-padrao;
        text-align: center;

        h1 {
            font-family: $fonte-padrao;
            margin: 10px 0px;
            color: #8a6d2f;
            font-size: 44px;
            line-height: 54px;
            font-style: normal;
            font-weight: 300;
            letter-spacing: 0px;
            text-shadow: none;
        }

        span {
            font-family: $fonte-padrao;
            text-align: start;
            color: #8a6d2f;
        }

        // #result {
        //     text-align: center;
        //     display: block;
        //     margin-top: 30px;
        //     font-family: $fonte-padrao;
        //     background-color: gold;
        //     border-radius: 30px;
        // }

        #form {
            color: #8a6d2f;
            font-size: 18px;
            font-weight: 300;
            margin: auto;
            width: 60%;

            .form-input {
                display: flex;
                width: 65%;
                margin: 0 auto 15px auto;

                #hrs {
                    text-align: center;
                    width: 240px;
                    border-radius: 30px;
                    box-shadow: none;
                    background-color: grey;
                    color: white;
                }
                #sal {
                    text-align: center;
                    width: 120px;
                    border-radius: 30px;
                    box-shadow: none;
                    background-color: grey;
                    color: white;
                }
            }
        }
    }

}

@media screen and (max-width: 720px) {
    #container {
        width: 90%;
        color: blueviolet;
    }

    h1 {
        font-size: 150%;
    }

    #loan-form {
        width: 100%;
    }

    .form-input {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .form-input input,
    .form-input select {
        margin: auto;
        text-align: center;
        font-size: 120%;
    }

    .form-input label,
    #button-area button,
    #result {
        font-size: 120%;
    }


}